In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [3]:
database = client['study_data_analytics']

In [4]:
collection = database['collect_update']

In [7]:
cursor_data = collection.find({})

In [8]:
df_collect_update = pd.DataFrame(list(cursor_data))
df_collect_update[:2]

                        _id   name  age   city
0  650130d18b0d4765967e21cc  Alice   26  Seoul
1  650130d18b0d4765967e21cd    Bob   30  Busan

In [9]:
from datetime import datetime
df_collect_update['update'] = datetime.now() # 새로운 컬럼 추가, 몽고db에는 컬럼이 추가되진 않음.
df_collect_update[:2]

                        _id   name  age   city                     update
0  650130d18b0d4765967e21cc  Alice   26  Seoul 2023-09-13 13:03:14.437903
1  650130d18b0d4765967e21cd    Bob   30  Busan 2023-09-13 13:03:14.437903

In [13]:
# 컬럼을 추가 -> 새로운 collection을 만들어서 넣어줌
collection_new = database['collect_update_new'] # new collection 만들기
dict_collect_update = df_collect_update.to_dict(orient='records') # to_dict : 데이터프레임을 dict으로 변환
result = collection_new.insert_many(dict_collect_update) #새로운 collection(테이블)에 넣어주기

In [14]:
result
# InsertManyResult는 class

In [15]:
result.inserted_ids

[ObjectId('650130d18b0d4765967e21cc'),
 ObjectId('650130d18b0d4765967e21cd'),
 ObjectId('650130d18b0d4765967e21ce')]