In [17]:
import matplotlib.pyplot as plt
# 한글처리
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy.stats as stats

In [2]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### X:연속형, Y:연속형 - 주로 상관관계 확인
- correlation( ) : 변수들 간의 상관계수를 확인할 수 있음
- coefficient(상관계수)
    - 1 에서 1 사이
    - 0에 가까우면 관계없음, -1로 갈수록 반비례, 1로 갈수록 정비례

#### 선정 변수 : age, Mileage
- 분석 내용 : 나이에 따라서 마일리지 변화가 있는가?
    - 귀무가설: 나이에 따라서 마일리지 변화가 없다.
    - 대립가설: 나이에 따라서 마일리지 변화가 있다.
- 분석 결론 (기준 - P.value 0.05)
    - 통계 결론: 대립가설 참
    - 사실 결론: 나이에 따라서 마일리지 변화가 있다.(statistic=0.973, pvalue=0.0)

In [12]:
df_TOCC[['age','Mileage']].describe()
# describe에서 mean(평균)이 나오면 연속형이라고 볼 수 있다.
# count값이 동일함

                age       Mileage
count  40509.000000  40509.000000
mean      46.608285   1967.922412
std       13.465977    436.707329
min       20.000000    872.000000
25%       37.000000   1646.000000
50%       46.000000   1946.000000
75%       56.000000   2263.000000
max      107.000000   3803.000000

In [14]:
df_age_Mileage = df_TOCC[['age','Mileage']]
df_age_Mileage[:2]

    age  Mileage
0  43.0   1862.0
1  62.0   2532.0

In [22]:
# null 값 존재 - null 값 삭제
df_age_Mileage = df_age_Mileage.dropna().copy()

In [23]:
df_age_Mileage.isnull().sum()

age        0
Mileage    0
dtype: int64

In [16]:
df_age_Mileage.corr()

              age   Mileage
age      1.000000  0.973281
Mileage  0.973281  1.000000

In [25]:
stats.pearsonr(df_age_Mileage['age'], df_age_Mileage['Mileage'])
# 상관계수 값 : statistic=0.9732809346109912  -> 두 개의 변수는 양(+)의 상관관계를 가지고 있음
# pvalue = 0.0

PearsonRResult(statistic=0.9732809346109912, pvalue=0.0)

In [26]:
# 컬럼 중 하나라도 비정규 분포이면 사용
stats.spearmanr(df_age_Mileage['age'], df_age_Mileage['Mileage'])

SignificanceResult(statistic=0.972325776844677, pvalue=0.0)