In [2]:
import matplotlib.pyplot as plt
# 한글처리
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd

In [3]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### X:범주형, Y:범주형 - 주로 독립성 증명 (X,Y의 관계가 연관이 있는지 독립적인지 확인)

#### 선정 변수 : type_of_contract, cancellation
- 분석 내용 : 계약유형(type_of_contract)에 따라 해약여부가 달라지는가?
    - 귀무가설: 계약유형에 따라 해약여부가 달라지지 않는다.
    - 대립가설: 계약유형에 따라 해약여부가 달라진다.
- 분석 결론 (기준 - P.value 0.05)
    - 통계 결론: 대립가설 참, 귀무가설 기각
    - 사실 결론: 계약유형에 따라 해약여부가 달라진다.

In [4]:
df_TOCC[['type_of_contract', 'cancellation']].describe()  # 항목의 개수(unique)

       type_of_contract cancellation
count             51300        51279
unique                2            2
top                  렌탈           정상
freq              46481        50372

In [5]:
df_TOCC_category = df_TOCC[['type_of_contract', 'cancellation']]

In [10]:
df_TOCC_category_pivot = pd.pivot_table(data=df_TOCC_category, index='type_of_contract', columns='cancellation', aggfunc=len)  # index = group by, aggfunc의 기본값은 평균
df_TOCC_category_pivot

## 렌탈과 멤버십 2개의 값의 차이가 많이나므로 비교 대상으로는 적절하지 않음
## 범주형-범주형의 경우 2가지의 비교가 유의미한지 확인하기 위해서는 둘 다 분포로 변화시켜서 P.value를 이용해 비교해 볼 수 있다.(둘 다 %로 나타낼 수 있음)

cancellation         정상   해약
type_of_contract
렌탈                46137  344
멤버십                4231  563

In [7]:
import scipy
scipy.__version__
import scipy.stats as stats

In [8]:
stats.chi2_contingency(observed=df_TOCC_category_pivot, correction=True)

## pvalue=0.0

Chi2ContingencyResult(statistic=3021.9735309482894, pvalue=0.0, dof=1, expected_freq=array([[45658.8007411,   822.1992589],
       [ 4709.1992589,    84.8007411]]))

#### 선정 변수 : product, cancellation
- 분석 내용 : 차종에 따라 해약여부가 달라지는가?
    - 귀무가설: 차종에 따라 해약여부가 달라지지 않는다.
    - 대립가설: 차종에 따라 해약여부가 달라진다.
- 분석 결론 (기준 - P.value 0.05)
    - 통계 결론: 대립가설 참
    - 사실 결론: 차종에 따라 해약여부가 달라진다.

In [15]:
# 다른 변수 이름 작성시 .copy() 사용
df_TOCC_product = df_TOCC[['product', 'cancellation']].copy()
df_TOCC_product[:2]

  product cancellation
0      K1           정상
1      K1           정상

In [16]:
df_TOCC_product.describe()
# count 값의 차이가 있다 -> null 처리가 필요함

       product cancellation
count    51303        51279
unique       6            2
top         K1           정상
freq     39134        50372

df_TOCC_product = df_TOCC[['product', 'cancellation']].dropna().copy()  # null값 처리
df_TOCC_product.describe()

In [41]:
df_TOCC_product_pivot = pd.pivot_table(data=df_TOCC_product, index='product'
                                       , columns='cancellation', aggfunc=len)  # index -> group by 대상
df_TOCC_product_pivot
# index와 columns를 바꿔도 가능(순서 바꿔도 상관없음)

cancellation     정상   해약
product
K1            38291  820
K2             8926   67
K3             2072   10
K4              323    4
K5              641    4
K6              118    2

In [40]:
# product 기준
stats.chi2_contingency(observed=df_TOCC_product_pivot, correction=True)  # correction:자유도
# pvalue=8.372028115481391e-21(pvalue:0.00000837...), dof=5 (자유도:5)

Chi2ContingencyResult(statistic=103.79474317337241, pvalue=8.372028115481391e-21, dof=5, expected_freq=array([[3.84192086e+04, 6.91791353e+02],
       [8.83393274e+03, 1.59067261e+02],
       [2.04517380e+03, 3.68262023e+01],
       [3.21216058e+02, 5.78394243e+00],
       [6.33591306e+02, 1.14086938e+01],
       [1.17877452e+02, 2.12254768e+00]]))

In [42]:
df_TOCC_product_pivot = pd.pivot_table(data=df_TOCC_product, index='cancellation'
                                       , columns='product', aggfunc=len)  # index -> group by 대상
df_TOCC_product_pivot

product          K1    K2    K3   K4   K5   K6
cancellation
정상            38291  8926  2072  323  641  118
해약              820    67    10    4    4    2

In [44]:
# cancellation 기준
stats.chi2_contingency(observed=df_TOCC_product_pivot, correction=True)

Chi2ContingencyResult(statistic=103.79474317337241, pvalue=8.372028115481391e-21, dof=5, expected_freq=array([[3.84192086e+04, 8.83393274e+03, 2.04517380e+03, 3.21216058e+02,
        6.33591306e+02, 1.17877452e+02],
       [6.91791353e+02, 1.59067261e+02, 3.68262023e+01, 5.78394243e+00,
        1.14086938e+01, 2.12254768e+00]]))

#### 선정 변수 : state, cancellation
- 위 두가지의 변수 구성은 참조되지 않는다.

In [29]:
# error with Nan
df_TOCC_error = df_TOCC[['state', 'cancellation']]
df_TOCC_error[:2]

  state cancellation
0  계약확정           정상
1  계약확정           정상

In [34]:
df_TOCC_error.describe()
# count값의 차이가 있음 -> null값이 존재하므로 drop필요
# unique를 보고 범주형/범주형 확인

        state cancellation
count   51279        51279
unique      4            2
top      계약확정           정상
freq    50326        50372

In [33]:
df_TOCC_error = df_TOCC[['state', 'cancellation']].dropna().copy()
df_TOCC_error.describe()

        state cancellation
count   51279        51279
unique      4            2
top      계약확정           정상
freq    50326        50372

In [45]:
df_TOCC_error_pivot = pd.pivot_table(data=df_TOCC_error, index='state', columns='cancellation', aggfunc=len)
df_TOCC_error_pivot

# 짝을 맞춰야 하기 때문에 null값이 생기게 됨
# null값이 있을 경우 chi2을 할 수가 없음

cancellation       정상     해약
state
계약확정          50326.0    NaN
기간만료             32.0    NaN
해약진행중            14.0    NaN
해약확정              NaN  907.0

In [36]:
stats.chi2_contingency(observed=df_TOCC_error_pivot, correction=True)

Chi2ContingencyResult(statistic=nan, pvalue=nan, dof=3, expected_freq=array([[nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan]]))