In [43]:
import pandas as pd

In [44]:
df_BND = pd.read_csv('./NSC2_BND.csv')
df_BND.head(3)

,Unnamed: 0,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2
0,0,64d2fd08ff87c6c528e0a793,294364,1921LE,200707.0,T08-T14,W00-W19
1,1,64d2fd08ff87c6c528e0a794,646257,1921LE,200805.0,A15-A19,NaN
2,2,64d2fd08ff87c6c528e0a795,733575,1921LE,201309.0,G30,NaN

## insertMany to Mongodb
-데이터베이스 혹은 collection 등의 이름이 오타날 경우 새롭게 생성되므로 오타 주의

In [45]:
import pymongo as mg

In [46]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [47]:
database = client['study_test']
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_test')

In [48]:
collection = database['collect_tests']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_test'), 'collect_tests')

In [55]:
df_BND.columns

Index(['Unnamed: 0', '_id', 'RN_INDI', 'BTH_YYYY', 'DTH_YYYYMM', 'COD1',
       'COD2'],
      dtype='object')

In [57]:
df_BND = df_BND.drop(columns=['Unnamed: 0', '_id'])

In [58]:
# refer) https://pandas.pydata.org/pandas-docs/version/1.4/reference/api/pandas.DataFrame.to_dict.html
# to.dict : dataframe을 dictionary로 변환
data_list = df_BND.to_dict(orient='records')
# data_list

In [59]:
type(data_list)

list

In [60]:
collection.insert_many(data_list)

In [53]:
df_BND.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   _id         1000 non-null   object
 2   RN_INDI     1000 non-null   int64
 3   BTH_YYYY    1000 non-null   object
 4   DTH_YYYYMM  71 non-null     float64
 5   COD1        60 non-null     object
 6   COD2        7 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 54.8+ KB

In [54]:
df_BND.describe()

        Unnamed: 0       RN_INDI     DTH_YYYYMM
count  1000.000000  1.000000e+03      71.000000
mean    499.500000  6.404133e+05  201471.873239
std     288.819436  5.241253e+05     432.203819
min       0.000000  1.433000e+03  200707.000000
25%     249.750000  2.812005e+05  201104.000000
50%     499.500000  5.499230e+05  201508.000000
75%     749.250000  8.177570e+05  201904.500000
max     999.000000  3.000758e+06  202105.000000